.site-header .navbar.opacity {
    background-color: rgba(226, 225, 222, 0.8);
}

.site-header .container {
    position: relative;
}

.site-header .navbar-header {
    height: 60px;
}

.site-header .navbar-header .logo {
    background: url(https://d1wqm2m61z4wqj.cloudfront.net/images/payclip-logo.png) no-repeat scroll center center;
    background: url(https://d1wqm2m61z4wqj.cloudfront.net/images/payclip-logo.svg) no-repeat scroll center center/82px auto;
    height: 72px;
    position: absolute;
    top: 10px;
    left: 15px;
    width: 72px;
    z-index: 10;
}

.site-header .navbar-header .logo a {
    display: block;
    height: 100%;
    width: 100%;
}
.site-header .navbar-header .logo h2 {
    display: none;
}

.hero-section {
    background: url(https://d1wqm2m61z4wqj.cloudfront.net/images/landing-hero-bg.png) no-repeat scroll center center / cover;
    color: #FFFFFF;
    position: relative;
}
body .hero-section {
    padding-top: 60px;
}
.hero-section .container {
    min-height: 410px;
    padding-top: 5px;
    position: relative;
}

.text {
    position: relative;
    top: 40px;
    float: left;
    margin-left: 49%;
    max-width: 455px;
    text-align: center;
}


.hero-section .reader {
    background: url(https://d1wqm2m61z4wqj.cloudfront.net/images/ManoClip_V2.png) no-repeat scroll center center/48% auto;
    position: absolute;
    background-position-x: right;
    background-position-y: bottom;
    bottom: 0;
    left: 0px !important;
    height: 100%;
    width: 485px;
}

.hero-section2 .reader {
    background: url(https://d1wqm2m61z4wqj.cloudfront.net/images/landing-hero-reader-guy.png) no-repeat scroll center center/75% auto;
    background-position-y: bottom;
}

.hero-title {
	margin-top: 60px;
	font-size: 30px;
	font-family: 'dinspro-bold';
	text-align: left;
}

.hero-tagline {
	font-size: 20px;
	text-align: left;
}

.app-title {
	font-family: 'dinspro-bold';
	margin:20px;
	color: #fc4c02; 
}